<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Info</title>
</head>

<body>
    <header>
        <nav-bar></nav-bar>
    </header>
    <div class="container">
        <div class="banner">
            <div class="title">
                <h1>Covid-19</h1>
                <h1>Information Center</h1>
            </div>
            <div class="desc">
                <p>Covid-19 Information Center merupakan pusat informasi</p>
                <p>mengenai Covid-19 di seluruh dunia</p>
            </div>
        </div>
    </div>
</body>

</html>